{% load static wagtailcore_tags wagtailuserbar wagtailsettings_tags i18n gdvoisins_menu_tags %}
{% get_settings use_default_site=True %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="no-js" lang="{{ page.locale.language_code }}">
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            {% include "gdvoisins/fragments/head.html" %}
      </head>
      <body class="{% block body_class %}gdvoisins{% endblock body_class %}">
            {% wagtailuserbar %}
            {% block nav %}
                  <div class="navbar bg-base-100 shadow-sm w-full mw-full justify-between">
                        <div class="navbar-start w-2/12 overflow-hidden">
                              {% include "gdvoisins/fragments/main_menu_up.html" %}
                        </div>
                        <div class="navbar-center w-8/12 bg-base-100 shadow-sm">
                              <h1 class="text-3xl font-bold ml-6 text-ellipsis">
                                    {% if page %}
                                          {{ page.title }}
                                    {% else %}
                                          {{ full_title }}
                                    {% endif %}
                              </h1>
                              {% if page %}
                                    {% main_menu_down self tabindex="-1" class_name="hidden md:flex menu menu-horizontal bg-base-100 rounded-box m-auto w-full justify-center" %}
                              {% endif %}
                        </div>
                        <div class="navbar-end pr-4 w-2/12 overflow-hidden">
                              {% include "gdvoisins/fragments/main_menu_down.html" %}
                              {% include "gdvoisins/fragments/navbar_end.html" %}
                        </div>
                  </div>
                  {% include "gdvoisins/fragments/main_menu_fab.html" %}
                  {% include "gdvoisins/fragments/search.html" %}
                  {% include "gdvoisins/fragments/theme.html" %}
                  {% include "gdvoisins/fragments/main_menu_lang.html" %}
                  {% include "gdvoisins/fragments/app-menu.html" %}
            {% endblock nav %}
            {% block header %}
            {% endblock header %}
            <main class="{% block main_class %}prose m-auto{% endblock main_class %}">
                  {% block content %}
                        {% include "gdvoisins/fragments/test-content.html" %}
                  {% endblock content %}
            </main>
            {% block footer %}
            {% endblock footer %}
            {# Global javascript #}
            <script type="text/javascript" src="{% static 'assets/js/theme-change.js' %}"></script>
            {% block extra_js %}
                  {# Override this in templates to add extra javascript #}
            {% endblock extra_js %}
      </body>
</html>
