@import "../static/assets/fonts/grotesk/fonts/_web/font.css";
@import "../static/assets/fonts/inter/web/inter.css";
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: all;
    --font-display: "grotesk", serif;
    --font-sans: "inter", ui-sans-serif, system-ui, sans-serif;
    /* --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; */
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@theme {
    --font-display: "grotesk", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "grotesk", serif;
}

p,
li,
ul,
ol {
    font-family: "inter", ui-sans-serif, system-ui, sans-serif;
}