/* Source: https://www.akalollip.com/download_font/ */


@font-face {
    font-family: 'grotesk';
    src: url('Grotesk-03Regular.woff2') format('woff2');
    src: url('Grotesk-03Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grotesk';
    src: url('Grotesk-04Gras.woff2') format('woff2');
    src: url('Grotesk-04Gras.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'grotesk';
    src: url('Grotesk-02Mince.woff2') format('woff2');
    src: url('Grotesk-02Mince.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'grotesk';
    src: url('Grotesk-01Extrafin.woff2') format('woff2');
    src: url('Grotesk-01Extrafin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
