{% load static wagtailcore_tags wagtailuserbar i18n %}
<!DOCTYPE html>
<html class="no-js" lang="{{ page.locale.language_code }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock title %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock title_suffix %}
        </title>
        <meta property="og:title"
              content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}">
        {% comment %} <meta property="og:type" content=""> {% endcomment %}
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:image" content="{{ page_image_url }}">
        <meta property="og:image:alt" content="{{ page_image_alt }}">
        {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}
        <link rel="icon" type="image/x-icon" href="{% static 'fav/favicon.ico' %}">
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'fonts/lack/stylesheet.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'fonts/fengardoneue/font.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/lesgv/appmenu.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/village-django-overrides.css' %}" />
        <meta http-equiv="Cache-Control"
              content="no-cache, must-revalidate, post-check=0, pre-check=0, max-age=0">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        {% comment %} <meta name="theme-color" content="#fafafa"> {% endcomment %}
        {% block extra_css %}{# Override this in templates to add extra stylesheets #}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %} darkmode">
        {% wagtailuserbar %}

        {% include "lesgv/fragments/app-menu.html" %}
        {% block content %}{% endblock %}
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/lesgv.js' %}"></script>
        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}
    </body>
</html>
