{% load static wagtailcore_tags wagtailuserbar i18n %}
<title>{{ full_title }}</title>
{% comment %} <link rel="stylesheet" href="{% static 'assets/css/html5boilerplate.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet"
      href="{% static 'assets/fonts/inter/web/inter.css' %}">
<link rel="stylesheet"
      href="{% static 'assets/fonts/grotesk/fonts/_web/font.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/css/appmenu.css' %}">
{% if page.search_description %}<meta name="description" content="{{ page.search_description }}">{% endif %}
<meta property="og:title"
      content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ full_title }}{% endif %}">
{% comment %} <meta property="og:type" content=""> {% endcomment %}
<meta property="og:url" content="{{ page.url }}">
<meta property="og:image" content="{{ page_image_url }}">
<meta property="og:image:alt" content="{{ page_image_alt }}">
{% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
{# Force all links in the live preview panel to be opened in a new tab #}
{% if request.in_preview_panel %}<base target="_blank">{% endif %}
<meta property="og:type" content="website">
<link rel="icon"
      href="{% static 'assets/images/logo/gdvoisins/favicon_io/favicon.ico' %}"
      sizes="any">
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/images/logo/gdvoisins/favicon_io/favicon-32x32.png' %}">
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/images/logo/gdvoisins/favicon_io/favicon-16x16.png' %}">
<link rel="icon"
      href="{% static 'assets/images/logo/gdvoisins/logo-gd-voisins-800-800.svg' %}"
      type="image/svg+xml">
<link rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/images/logo/gdvoisins/favicon_io/apple-touch-icon.png' %}">
<script src="{% static 'assets/js/appdata.js' %}"></script>
<link rel="manifest" href="{% static 'assets/site.webmanifeste' %}">
{% comment %} <link rel="preload" as="image" href="{% static 'assets/images/logo/lesgrandsvoisins/logo-lesgrandsvoisins-600-72.png' %}" width="600" height="72"> {% endcomment %}
<meta http-equiv="Cache-Control"
      content="no-cache, must-revalidate, post-check=0, pre-check=0, max-age=0">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta name="theme-color" content="#fafafa">
{% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
{% endblock extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/gdvoisins-tailwind-2025-11-23-10h58m31s.css' %}">

{% block extra_head %}
{% endblock extra_head %}
