{% load static wagtailcore_tags wagtailuserbar wagtailsettings_tags i18n gdvoisins_menu_tags %}
<div class="dropdown dropdown-end md:hidden">
  <div tabindex="0" role="button" class="btn">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-5 w-5"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
    </svg>
  </div>
  {% if page %}
    {% main_menu_down self tabindex="-1" class_name="dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow justify-center" %}
  {% endif %}
</div>
